body,
html {
  margin: 0px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  line-height: 1.9;
  padding: 100px 30px 100px 30px;
  background-color: rgba(255, 190, 252, 0.616);
  font-size: 14.5px;
}
.right {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.avartar-box {
  position: relative;
  width: 300px;
  margin: 0px auto;
  box-shadow: 5px 5px 3px rgba(189, 189, 236, 0.7);
  background-color: rgba(188, 188, 231, 0.24);
}
.avartar-tomtat {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px auto;
}
.mxh {
  text-align: center;
  margin-bottom: 20px;
}
.mxh-item {
  margin: 10px;
}
.name {
  display: block;
  text-align: center;
  margin: 40px 0px 10px 0px;
  font-weight: 900;
}
.job {
  text-align: center;
  margin: 10px;
}
.profile {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
}
.timeline {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
}
.underlined {
  width: 90%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.555);
  margin: 50px auto;
  /* margin-top: 50px; */
}
.content-part1 {
  margin-top: 20px;
}
.img-avar {
  margin: 10px;
}
.instargram-box {
  margin: auto;
  margin-top: 50px;
  background-color: white;
  width: 300px;
}
.img-ins:hover {
  opacity: 0.8;
  transition: all 0.1s;
}
.img-ins {
  height: 80px;
  width: 80px;
  margin: 0%;
  padding: 0px;
}
.title-ins {
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
}
.imgs {
  text-align: center;
  margin: 20px;
}
.content-btn {
  display: inline;
  margin: 15px;
}
.btn {
  border-color: rgb(157, 157, 228, 0.3);
  margin-left: 0px;
  border-radius: 50px;
  cursor: pointer;
}
.p1-content-btn {
  margin: 10px;
}
.content-btn {
  font-weight: 600;
}
.part1 {
  margin-bottom: 20px;
  content: ' ';
  background: rgba(255, 255, 255, 0);
}
.part1 .infor-part2::before {
  content: ' ';
  position: absolute;
  width: 90%;
  height: 0.1px;
  bottom: 10%;
  background: rgba(255, 255, 255, 0.534);
  transform: scale(1, 1) rotate3d(90deg, 0, 0, 45deg) translate(0, 0);
}
.part2 {
  display: flex;
}
.content-part2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.infor-part2 {
  width: 50%;
  display: inline;
}
.language-part2 {
  display: inline;
  margin-left: 50px;
  width: 50%;
}
.attribute-p2 {
  position: relative;
  display: inline-block;
  flex-direction: column;
}
.item-value {
  font-weight: 100;
}
.item-attribute {
  width: 32%;
  font-weight: 800;
  font-size: 14px;
}
.item {
  width: 80%;
  animation-name: example;
  animation-duration: 0.9s;
  transition: all 0.2s;
}
@keyframes example {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.value-p2 {
  width: 50%;
}
.skill-name {
  margin-bottom: 0px;
}
.circle {
  display: inline-block;
  margin: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(188, 188, 231, 0.911);
}
.circle-a {
  display: inline-block;
  margin: 2px;
  width: 16px;
  height: 16px;
  background-color: rgb(188, 188, 231);
  border-radius: 50%;
}
.info {
  font-weight: 400;
  display: inline;
  width: 500px;
}
.info-content {
  display: inline;
}
.language {
  display: inline;
}
.part3 {
  display: flex;
  margin-top: 50px;
}
.prof-skill {
  width: 50%;
  margin-right: 30px;
}
ul li .skill_name {
  width: 25%;
  font-weight: 700;
}
ul {
  list-style-type: none;
}

ul li .skill_progress {
  width: 90%;
  margin: 10px 5px;
  height: 6px;
  background: rgba(188, 188, 231, 0.664);
  position: relative;
}

ul li .skill_per {
  width: 15%;
  margin: 0px 0px;
}

ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(188, 188, 231);
  transition: 0.2s;
}
.hobby-item {
  margin-top: 25px;
}
.timeline-part6 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.content-timeline {
  position: relative;
  display: flex;
  top: 0px;
  display: inline-block;
  /* text-align: ; */
  /* padding: 50px; */
}
.infor-timeline {
  /* padding: 30px; */
  display: inline-block;
  margin: 0px 50px;
  width: auto;
  height: auto;
  border-left: 1px solid black;
}
.name-infor {
  font-weight: 600;
  margin: 5px 0px 20px 10px;
}
.address-infor {
  margin: 5px 0px 20px 10px;
}
.year-timeline {
  top: -10px;
  width: 20%;
  display: inline-block;
}

.ul .li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.ul .li .info {
  margin-bottom: 20px;
}

.ul .li:last-child .info {
  margin-bottom: 0;
}
.ul {
  display: flex;
  justify-content: space-between;
}

.ul .li {
  width: 80px;
  height: 80px;
  border: 2px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}
.ul .li i {
  font-size: 30px;
}
.ul .li:before {
  content: '';
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #0bb5f4;
}
.ul .li:last-child:before {
  display: none;
}

.right_inner {
  padding: 30px;
  color: #292b2f;
}

.education {
  margin-top: 30px;
}

.li_wrap {
  display: flex;
  margin-bottom: 15px;
}

.li_wrap .date {
  width: 125px;
}

.li_wrap .info {
  width: calc(100% - 125px);
  padding-left: 25px;
  position: relative;
}

.li_wrap .info_title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.li_wrap .info_com {
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
}

.li_wrap .info_cont {
  margin-top: 15px;
}

.li_wrap .info:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(188, 188, 231);
  border-radius: 50%;
}

.li_wrap .info:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 4px;
  width: 2px;
  height: 90%;
  background: rgba(188, 188, 231, 0.664);
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 2px;
    line-height: 1.9;
    padding: 0px;
    font-size: 14.5px;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .avartar-box {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .img-ins {
    height: 144.6px;
    width: 144.6px;
  }
  .imgs {
    width: 480px;
    height: auto;
    margin: auto;
  }
  .profile {
    width: 100%;
  }
  .instargram-box {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .part2 {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 2px;
    line-height: 1.9;
    padding: 0px;
    font-size: 14.5px;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .avartar-box {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .part2 {
    display: flex;
    flex-direction: column;
  }
  .part3 {
    display: flex;
    flex-direction: column;
  }
}
