@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.google.com/specimen/Quicksand?preview.text_type=custom#standard-styles);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.container {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  line-height: 1.9;
  padding: 100px 30px 100px 30px;
  /* margin: 20px; */
  background-color: rgb(228, 222, 168);
}
.right {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.avartar-box {
  position: relative;
  width: 300px;
  margin: 0px auto;
  box-shadow: 5px 5px 3px rgba(189, 189, 236, 0.7);
  background-color: rgba(46, 46, 240, 0.192);
}
.avartar-tomtat {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px auto;
}
.fa-facebook-f {
  text-align: center;
}
.name {
  display: block;
  text-align: center;
  margin: 40px;
  font-weight: 700;
}
.job {
  text-align: center;
  margin: 40px;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: white;
  padding: 25px;
}
.content-part1 {
  margin-top: 60px;
}
.img-avar {
  margin: 10px;
}
.instargram-box {
  margin: 20px auto;
  padding: auto;
  background-color: rgba(189, 189, 236, 0.7);
  width: 300px;
}
.img-ins:hover {
  opacity: 0.8;
  transition: all 0.1s;
}
.img-ins {
  height: 80px;
  width: 80px;
  margin: 0%;
  padding: 0px;
}
.title-ins {
  text-align: center;
  margin: 20px;
}
.imgs {
  text-align: center;
  margin: 20px;
}
.title-part2 {
  font-weight: 60;
  margin: 20px;
}
.content-btn {
  display: inline;
  margin: 15px;
}
.btn {
  border-color: rgb(157, 157, 228, 0.3);
  /* margin: 35px; */
  margin-left: 0px;
  border-radius: 50px;
  cursor: pointer;
}
.p1-content-btn {
  margin: 10px;
}
.content-btn {
  font-weight: 600;
}
.part1 {
  margin-bottom: 50px;
  content: ' ';
  background: rgba(255, 255, 255, 0.534);
  transform: scale(1, 1) rotate3d(90deg, 0, 0, 45deg) translate(0, 0);
}
.part2 {
  display: flex;
  /* flex-direction: row; */
}
.content-part2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.infor-part2 {
  width: 50%;
  display: inline;
}
.language-part2 {
  display: inline;
  width: 50%;
}
.attribute-p2 {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.item-value {
  right: 0px;
  /* top: 0px; */
  /* margin: 5px; */
  text-align: right;
  display: inline;
  width: 50%;
  font-weight: 100;
}
.item {
  width: 100px;
  display: inline;
}
.item-attribute {
  position: relative;
  margin: 10px;
  font-weight: 600;
}
.value-p2 {
  width: 50%;
}
.skill-name {
  margin-bottom: 0px;
}
.circle {
  display: inline-block;
  margin: 2px;
  width: 16px;
  height: 16px;
  background-color: rgb(188, 188, 231);
  border-radius: 50%;
}
.info {
  font-weight: 400;
  display: inline;
  width: 500px;
}
.info-content {
  display: inline;
}
/* .part2 {
    display: flex;
  } */
.language {
  display: inline;
}
.part3 {
  display: flex;
  margin-top: 50px;
}
.prof-skill {
  width: 50%;
  margin-right: 30px;
}
.quality {
  display: inline-block;
  width: 90%;
  height: 5px;
  background-color: rgb(166, 166, 211);
}
.stylelist-p3 {
  margin: 20px;
}
.hobby-item {
  margin-top: 25px;
}
/* 
  .part5-nav-item {
    display: inline-block;
  }
  .part5-imgs {
    height: 500px;
  }
  .anh {
    display: inline-block;
    height: 200px;
  } */
.part6 {
  margin-top: 50px;
}
.timeline-part6 {
  display: flex;
  flex-direction: column;
}
.content-timeline {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 50px;
}
.infor-timeline {
  margin-right: 30px;
  display: inline-block;
  margin: 0px 50px;
}
.name-infor {
  font-weight: 600;
  margin: 30px;
}
