.container {
  display: flex;
  font-family: 'Raleway', Arial, sans-serif;
}
.avartar-box {
  width: 30%;
  box-shadow: rgba(119, 116, 116, 0.945);
}
.avartar-tomtat {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name {
  margin: auto;
  padding: 20px;
}
.job {
  margin: auto;
  padding: 20px;
}
.profile {
  /* width: 70%; */
}
.img-avar {
  margin: 10px;
}
.instargram-box {
    
  width: 20%;
}
.img-ins:hover {
  opacity: 0.8;
  transition: all 0.1s;
}
.img-ins {
  height: 80px;
  width: 80px;
}
